<!DOCTYPE html>
<html>
  <head>
    <title>Xetoris' Blog</title>
    <%= favicon %>
    <script type="text/javascript" src="<%= asset_path('/bower/jquery/dist/jquery.min.js')%>"></script>
    <script type="text/javascript" src="<%= asset_path('/bower/webcomponentsjs/webcomponents.js') %>"></script>
    <link rel="import" href="<%= asset_path('bower/polymer/polymer-mini.html') %>">
    <link rel="import" href="<%= asset_path('bower/paper-header-panel/paper-header-panel.html') %>">
    <link rel="import" href="<%= asset_path('bower/paper-toolbar/paper-toolbar.html') %>">
    <%= stylesheet 'template_application' %>
  </head>
  <body class="unresolved fullbleed layout vertical">
    <paper-header-panel class="flex">
      <paper-toolbar>Test Header!</paper-toolbar>
      <div class="fit">
        <%= yield %>
      </div>
    </paper-header-panel>
  </body>
</html>
